# Java build outputs
/bin/
/out/
*.class

# Local dependency binaries
/lib/*.jar

# Eclipse workspace/project metadata
.metadata/

# Local DB configuration
src/db.properties

# OS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp

# Backup folders
backup/
user.properties
